<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Fennec fox :p</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/eastereggs/<%= style %>'>
</head>

<body>
    <div class="wrapper">
        <h2 class="title">Fennec fox :p</h2>
        <%- svg %>
        <div class="controls">
            <button class="btn-draw">Draw</button>
            <button class="btn-erase">Erase</button>
        </div>
    </div>
</body>
<script src='/javascripts/easteregg.js'></script>
</html>